.anime
{
   height: 300px;
   width: 300px;
    margin-left: -459px;
    margin-top: 180px;
}

.anime1
{
   height: 350px;
   width: 350px;
    margin-left: 600px;
    margin-top: 140px;
}
.anime2
{
    
    margin-left: -847px;
    margin-top: 70px;
}
.anime3
{  
    height:342px;
    width: 149px;
    margin-left: -47px;
    margin-top: 70px;
}
.anime4
{  
    height:342px;
    width: 116px;
    margin-left: -387px;
    margin-top: 70px;
}

.anime5
{  height:60px;
    width: 373px;
    margin-left: -132px;
    margin-top: 468px;
}

.anime6
{  height:60px;
    width: 373px;
    margin-left: 51px;
    margin-top: 468px;
}

.anime7
{  height:60px;
    width: 373px;
    margin-left: 409px;
    margin-top: 468px;
}